
*.o
*.exe
com/project/ProjectGrow/ProjectGrow/ico/grow.ico
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/analogclock.o
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/main.o
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/mainwindow.o
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_analogclock.cpp
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_analogclock.o
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_arduinoclient.cpp
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_mainwindow.o
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/ProjectGrow.exe
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/qrc_ProjectGrowResources.cpp
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/qrc_Testing.cpp
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userspeterd~1appdatalocaltemptmp61pr2k
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/analogclock.o
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/main.o
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/mainwindow.o
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_analogclock.cpp
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_analogclock.o
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_mainwindow.o
com/project/ProjectGrow/build-ProjectGrow-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/ProjectGrow.exe
*.o
